@{
    ViewBag.Title = "New Employee";
}

<h2>@ViewBag.Title</h2>

<div ng-app="createModule" ng-controller="createController">
    @Html.Partial("_EditorPartial")
</div>

@section scripts {

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/bundles/vsshared"></script>
    <script src="~/ViewScripts/Employees/Create.js"></script>

}