
@{
    ViewBag.Title = "Edit Employee";
}

<h2>@ViewBag.Title</h2>

<div id="page-content" ng-controller="editController">
    @Html.Partial("_EditorPartial")
</div>

@section scripts {

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/bundles/vsshared"></script>
    <script src="~/ViewScripts/Employees/Edit.js"></script>

    <script type="text/javascript">

        var mod = angular.module("editModule").value("employeeId", "@ViewBag.EmployeeId");

        angular.element(document).ready(function () {
            angular.bootstrap("#page-content", ["editModule"]);
        });

    </script>

}


